<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store, must-revalidate" />
    <title>Starmie Demo</title>
    <link th:href="@{/static/@mdi/font/css/materialdesignicons.css}" href="/@mdi/font/css/materialdesignicons.css"
        rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/vue3/vuetify.min.css}" href="/css/vuetify.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar app>
            </v-app-bar>
            <v-navigation-drawer app> <!-- -->
                <router-link to="/user">用户管理</router-link>
                <router-link to="/menu">菜单管理</router-link>
            </v-navigation-drawer>
            <v-main>
                <v-tabs fixed-tabs>
                    <v-tab to="/user">用户管理</v-tab>
                    <v-tab to="/menu">菜单管理</v-tab>
                </v-tabs>
                <v-container>
                    <router-view></router-view>
                </v-container>
            </v-main>
            <v-footer app>
                <div class="pt-0"> Copyright (c) 2023, Starmoon1617 and/or Nathan Liao. All rights reserved. </div>
            </v-footer>
        </v-app>
    </div>
    <script th:src="@{/static/js/common/axios.min.js}" src="/static/js/common/axios.min.js" type="text/javascript"></script>
    <script th:src="@{/static/js/common/common.js}" src="/static/js/common/common.js" type="text/javascript"></script>
    <script th:src="@{/static/js/common/cheerio/index.js}" src="/static/js/cheerio/index.js" type="text/javascript"></script>
    <script th:src="@{/static/js/vue3/vue.global.js}" src="/jsstatic//vue3/vue.global.js" type="text/javascript"></script>
    <script th:src="@{/static/js/vue3/vue-router.global.prod.js}" src="/static/js/vue3/vue-router.global.prod.js" type="text/javascript"></script>
    <script th:src="@{/static/js/vue3/vuetify.min.js}" src="/static/js/vue3/vuetify.min.js" type="text/javascript"></script>
    <script> 
        const cheerio = require('cheerio');
        /**
         * 加载HTML到Promise
         */
        const loadHtml = async function(url) {
            let res = {};
            res = await axios.get(url);
            console.info(res.data);
            const $ = cheerio.load(res.data);
            let p = Promise.resolve(res.data);
            console.info(p);
            return p;
        };
        
        const {createApp} = Vue;
        const { createVuetify } = Vuetify;
        const app = createApp({
            el: '#app'
        });
        const routes = [
            {path: '/user', component: Vue.defineAsyncComponent(() => loadHtml('[[@{/user/toList}]]'))},
            {path: '/menu', component: Vue.defineAsyncComponent(() => loadHtml('[[@{/navigation_menu/toList.vue}]]'))},
        ]
        //
        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes,
        })
        const vuetify = createVuetify({theme: {defaultTheme: 'light'}, });
        app.use(vuetify).use(router).mount('#app');
    </script>
</body>

</html>